* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Acme", sans-serif;
  --max-width: 160rem;
  --main-color: #272731;
  --deep-color: #2a2b35;
  --paragraph-font-family: "Open Sans", sans-serif;
  --emphasis-color: #ff7a00;
  --emphasis-color-darker: #e3a770;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-family);
}

img {
  width: 100%;
  display: block;
  height: 100%;
}
svg {
  display: block;
}

a {
  color: inherit;
}

p {
  margin-bottom: 1.5rem;
  font-family: var(--paragraph-font-family);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-align: left;
}
h3 {
  margin-bottom: 1rem;
}

.contact__right ul li {
  font-size: 1.25rem;
}

input {
  outline: none;
}

textarea {
  min-height: 10rem;
  outline: none;
}

body {
  background-color: var(--main-color);
}
#nav {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.nav__logo {
  max-width: 65px;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin-left: 3rem;
  margin-right: 3rem;
  flex: 1;
}
.nav__a {
  text-decoration: none;
  color: white;
  margin: 0.35rem;
  font-size: 1.5rem;
}

.nav__a:hover {
  color: rgb(212, 212, 212);
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5rem;
  height: calc(100vh - 81.63px);
  overflow: hidden;
  color: white;
}

.intro__wrapper {
  max-width: 50rem;
}

.intro__h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  animation: appearLeft 1s ease-in-out;
}

.intro__cta {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.intro__span {
  display: flex;
  align-items: center;
}
.intro__svg {
  margin-left: 1rem;
  font-size: 2rem;
}
.intro__animation-bottom {
  animation: appearBottom 3s ease-in-out;
}

.landing-container {
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100%;
}

.intro__h2 {
  text-align: left;
  margin-bottom: 1rem;
  margin-top: 0;
}
.intro__email-icon {
  font-size: 2.5rem;
  margin-left: 0.5rem;
}
.intro__button {
  font-size: 1rem;
  background-color: var(--emphasis-color);
  color: white;
  border-radius: 0.25rem;
  padding: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  font-family: var(--font-family);
}

.intro__button-darker {
  background-color: var(--emphasis-color-darker);
}

.intro__right {
  display: block;
  width: 50%;
}
.intro__img {
  display: block;
  object-fit: cover;
  animation: appearRight 2s ease-in-out;
  width: 60%;
}

.about-section {
  color: white;
  background-color: var(--deep-color);
  width: 100%;
}

.about-section__wrapper {
  max-width: var(--max-width);
  margin: 0 5rem;
  padding-top: 1rem;
}
.about-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section__left {
  width: 50%;
}

.about-section__right {
  width: 30%;
}
.about-section__ul {
  margin-bottom: 1.5rem;
}
.about-section__li {
  font-family: var(--paragraph-font-family);
  font-weight: 300;
  list-style: circle;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
}

.proyects-section {
  margin: 0 5rem;
  color: white;
}

.proyects-title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  text-align: center;
  font-weight: bold;
}

.proyects__container {
  display: flex;
  flex-wrap: wrap;
  max-width: var(--max-width);
  align-items: center;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.proyects__links-container {
  background-color: var(--deep-color);
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.proyects__project {
  width: 30.972%;
  position: relative;
}

.proyects__img {
  border-radius: 0.25rem;
}

.proyects__github-icon,
.proyects__preview-icon {
  font-size: 3em;
  padding: 0.15em;
  background-color: rgb(39, 39, 39);
  margin: 0.15em;
  color: white;
}

.contact-section {
  max-width: var(--max-width);
  margin: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
}
.contact-section__wrapper {
  display: flex;
}

.contact-section__form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.35rem;
}
.contact-section__button {
  max-width: 7.5rem;
  padding: 0.5rem;
  background-color: var(--emphasis-color);
  font-weight: bold;
  color: white;
  border-radius: 0.1rem;
  margin-top: 0.25rem;
  cursor: pointer;
}

.contact-section__email {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-section__right {
  margin-left: 5rem;
  margin-top: 1rem;
}
.contact-section__links {
  display: flex;
  gap: 1.5rem;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.contact-section__email-svg {
  font-size: 2rem;
}
.individual-proyect {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 5rem;
  color: white;
}
.individual-proyect__h1 {
  text-align: left;
  margin-bottom: 1rem;
}

.individual-proyect__h2 {
  text-align: left;
  margin: 0.5rem 0;
}

.individual-proyect__img {
  max-width: 56.25rem;
}

.individual-proyect__p {
  margin-bottom: 0;
}

.individual-proyect__li {
  list-style: circle;
  margin-left: 2rem;
  font-family: var(--paragraph-font-family);
}

.individual-proyect__container-svgs {
  display: flex;
}

.individual-proyect__svg {
  font-size: 3em;
  padding: 0.15em;
  background-color: rgb(39, 39, 39);
  color: white;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

footer {
  background-color: var(--deep-color);
  color: white;
}

.footer__wrapper {
  display: flex;
  max-width: var(--max-width);
  padding: 1rem 3rem;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.footer__icons {
  display: flex;
}
.footer__svg {
  font-size: 2rem;
  margin: 0 0.5rem;
}

/* Animations */

@keyframes appearRight {
  0% {
    transform: translateX(1500px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes appearLeft {
  0% {
    transform: translateX(-900px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearBottom {
  0% {
    transform: translateY(900px);
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Medias */

@media (max-width: 120rem) {
  .intro {
    margin-left: 3rem;
  }
  .about-section__wrapper {
    margin: 0 3rem;
  }
  .proyects-section {
    margin: 0 3rem;
  }
}

@media (max-width: 75rem) {
  .nav__a {
    font-size: 1rem;
  }
  .intro {
    flex-direction: column;
    height: auto;
    margin: 3rem;
  }

  .intro__h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }
  .intro__img {
    max-width: 15rem;
  }

  .intro__right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .intro__cta {
    margin-bottom: 1rem;
  }

  .intro__h2 {
    margin-bottom: 1rem;
  }
  .intro__left {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-section__container {
    flex-direction: column;
  }

  .about-section__left {
    width: 100%;
  }

  .about-section__right {
    width: 75%;
  }
  .proyects__project {
    width: 100%;
  }
  .contact-section__wrapper {
    flex-direction: column;
  }
  .contact-section__form {
    width: 100%;
  }

  .contact-section__links {
    width: 100%;
  }
  .contact-section__right {
    margin-left: 0;
  }
}
